.app {
  // transition: background-color 0.2s, color 0.2s;
  min-height: 100vh;
}
.app_dark {
  background-color: #303030;
  color: #fff;
}
.app_light {
  background-color: rgb(247, 247, 247);
  color: #303030;
}

.scrollContainer {
  height: 100vh;
  max-height: 100vh;
}

.container {
  padding: 2em 0 4em;
  width: 95vw;
  max-width: 114rem;
  margin: 0 auto;
}
