// #00356b
// #1b1513
// #010100
$orange: #ff7227;
$text-color: #1b1513;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  color: $text-color;
  font-family: 'Oswald', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Pattaya', serif;
}

ul,
ol {
  list-style: none;
}

button,
a,
input,
textarea {
  font-family: inherit;
}

img {
  width: 100%;
  max-width: 100%;
}
canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  z-index: -1;
  background: #1b1513;
  position: fixed !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

// .main-container {
//   max-width: 114rem;
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   margin: auto;
// }

.sidebar {
  border-radius: 0.5rem;
  background-color: #fff;
  position: absolute;
  top: 7rem;
  left: 50%;
  transform: translateX(-35vw);
  max-width: 25rem;
}

.header {
  border-radius: 0.5rem;
  background-color: #fff;
  position: absolute;
  top: 7rem;
  left: 50%;
  width: 80rem;
  height: 10rem;
  transform: translateX(-16vw);
}

.main {
  border-radius: 0.5rem;
  background-color: #fff;
  position: absolute;
  top: 21.5rem;
  left: 50%;
  width: 80rem;
  height: 50rem;
  transform: translateX(-16vw);
}
