$background-color-light: #000;
$background-color-regular: #000;
$background-color-dark: #000;
$text-color-light: #000;
$text-color-regular: #000;
$text-color-dark: #000;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
body {
  font-family: serif;
  font-size: 1.6rem;
  font-family: 'Ubuntu Mono';
}

img {
  width: 100%;
  max-width: 100%;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2.2rem;
  margin-bottom: 0.5em;
}
