.stack {
  padding: 0 0 4rem;
  &__techContainer {
    max-width: 70rem;
    margin: 0 auto;
    padding: 1rem 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    li {
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;

      img {
        max-height: 3.5rem;
        max-width: 3.5rem;
        object-fit: contain;
      }
      span {
        font-size: 1.8rem;
        padding: 0 0.35em;
      }
    }
  }
}
